.aboutmeDiv {
   
    background-color:black
  }

.imageDiv {
  margin-left: 11%;
  margin-right: 11%;
  display: flex;
  
  align-items: flex-end;
  gap: 50px;
  flex-wrap: wrap;  
}


.andrewImg {

    height: 180px;
    width: 144px;
    margin-bottom: 5px;
    margin-right: 40px;
    margin-top: 30px;
    
    /* border-radius: 8px; */
    border: 1px rgb(59, 59, 59);
    border-style: solid;
    filter: drop-shadow(3px 4px 3px rgb(238, 144, 110)); 
    /* box-shadow: 0 2px 8px 0 coral */
    
  }

  .icons {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .icon1 {
    margin-right: 10px;
    margin-top: 5px;
    width: 2.7rem;
    height:2.52rem ;
  }
  
  .heading {

    display: flex;
    
  }
  
  .aboutme {
    flex: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-top: 1.3rem;
    background: #3f51b5;
    height: 3rem;
    line-height: 2.5;
    font-size: 1.2rem;
    color:white;
    margin-right: 11%;
    margin-left: 11%
    
  }
  .aboutme span {
    font-size: 1rem;
    color: coral;
    font-style: oblique;
  }
  
  .content {
    padding: 20;
    background-color: black;
    color: white;
    padding: 20px 40px 20px 40px; 
    margin-left: 7%;
    margin-right: 7%;
  }


  .span1 {
    color: coral;
    font-size: large;
  }

  .span2 {
    color: aqua;
  }

  .pTag {

    background-color: black;
    height: 30px;
  }

  @media (max-width: 576px) {
    .aboutme {
      margin-right: 6%;
      margin-left: 6%

    }

    .content {
      margin-left: 2%;
      margin-right: 2%;

    } 

    .icons {
      margin-top: 2px ;
    }

    .icon1 {
      margin-right: 10px;
      margin-top: 5px;
      width: 2.14rem;
      height:2.01rem ;
    }

    .andrewImg{
      height: 162px;
      width: 129.6px;
      margin-bottom: 5px;
      margin-right: 40px;
      margin-top: 30px;

    }
  }

