.contact {
    margin-top: 1.3rem;
    background: #3f51b5;
    height: 3rem;
    line-height: 2.5;
    font-size: 1.2rem;
    color: white;
    padding: 0 20px;
    position: relative;
    bottom: 20px;
    
}

.form {
    padding: 20;
    background-color: black;
    color: aqua;
    padding: 20px;
    position: relative;
    bottom: 30px;
    
}

.formContent {
    margin-left: 12rem;
}

.name {
    background-color: rgb(84, 85, 91);
    border: 3px;
    color: white;
    border-color:1px coral;
    border-style: solid;
}

.email {
  background-color: rgb(84, 85, 91);
  border-color:1px coral;
    border-style: solid;
}
.message {
    /*resize: vertical;*/
    background-color: rgb(84, 85, 91);
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: white;
    padding: 5px;
    border-color:1px white;
    border-style: solid;
  }
  
  /* .message:focus,
  input:focus {
    outline:coral solid;
    border-color: white ;
    border: 5px;
    box-shadow: 0 0 1rem var(--textarea-focus);
  }  */

  .button {
    border-color: aqua;
    background-color: rgb(84, 85, 91);
    color: white;
    border-radius: 3px;
  }



