
.projectPage {
margin-bottom: 20px;
    padding: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 30px;
}

.project1 {
display: flex;
align-items: center;
margin-bottom: 15px;
}

.project1Image {
    float: left;
    margin-right: 25px;
    height: 240px;
    border: solid 4px white;
}

.project1Link {
    color: aqua;
    font-size: medium;
}

.portfolio {
    margin-top: 1.3rem;
    background: #3f51b5;
    height: 3rem;
    line-height: 2.5;
    font-size: 1.2rem;
    color: white;
    padding: 0 20px;
    position: relative;
    bottom: 20px;   
}

.project2 {
    display: flex;
    align-items: center;
    
    }

.project2Image {
    float: right;
    margin-right: 25px;
    height: 240px;
    border: solid 4px white;
}

.project2Link {
    color: aqua;
    font-size: medium;
}

.project3 {
    display: flex;
    align-items: center;
    }
    
.project3Image {
    float: left;
    margin-right: 25px;
    height: 240px;
    border: solid 4px white;
}

.project3Link {
    color: aqua;
    font-size: medium;
}

